.field {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
  }
  
  .mouse {
    width: 50px;
    height: 90px;
    border: 3px solid #ffffff;
    border-radius: 60px;
    position: relative;
  }
  
  .mouse::before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
  }
  
  @keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  
  @-webkit-keyframes wheel {
    to {
      opacity: 0;
      top: 60px;
    }
  }
  